.app {
  background-color: #282c34; 
  height: 100vh;
  width: 100vw;
}

.container {
  border: 1px solid #61dafb; 
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  flex-direction: column;
}

input {
  height: 40px;
  width: 300px;
  border: 2px solid #61dafb;
  padding: 10px;
  font-size: 16px;
  color: #333;
  background-color: #fff; 
  border-radius: 5px; 
  outline: none; 
}

button {
  height: 60px;
  width: 120px; 
  border: 2px solid #61dafb;
  background-color: #61dafb;
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  border-radius: 5px;
  outline: none;
  transition: background-color 0.3s, color 0.3s; 
  margin-left: 5px;
}

button:hover {
  background-color: #fff; 
  color: #61dafb; 
}
.definition{
  height: 30px;
  border-bottom: 2px solid #61dafb;
  padding-left: 10px;
}
